/* =====================================
                Html, Body
======================================== */
html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "open Sans", sans-serif;
}

p {
    font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

section {
    background: #fff;
}

.pull-right {
    float: right;
}

hr {
    margin: 0;
}

.pad_100_for_pages {
    padding-top: 100px;
}

.common-head-pad {
    padding-bottom: 30px;
}

.fix_width_table {
    min-width: 1115px;
}

/* =====================================
                Login
======================================== */
.back-cover-img {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.center-div {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.login-content {
    text-align: center;
}

.note-img {
    padding-bottom: 25px;
}

.login-details {
    background: #fff;
    padding: 50px;
    border-radius: 3px;
}

.container label {
    float: left;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.login-details a {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
    margin-bottom: 10px;
}

.home-heading .center_heading-1 {
    padding-bottom: 15px;
}

.home-heading p {
    margin: 0;
}

/* =====================================
                Buttons
======================================== */
.general-btn {
    padding-top: 30px;
}

.btn-purple {
    background-color: #6255a5;
    border-radius: 3px;
    font-style: Open Sans;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

.small-btn-1 {
    font-style: Open Sans;
    font-size: 18px;
}

.small-btn-2 {
    font-style: Open Sans;
    font-size: 18px;
    font-style: 600;
    text-transform: uppercase;
    border-color: #fff !important;
    color: #fff !important;
    border-radius: 0;
}

/* =====================================
            Headings
======================================== */
.common-heading-1 {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    /*line-height: 38px;*/
    color: #6255a5;
    display: block;
}

.common-heading-2 {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    display: block;
}

.center_heading-1 {
    text-align: center;
}

.left_heading-1 {
    text-align: left;
}

.left_heading-2 {
    text-align: left;
    padding-bottom: 10px;
}

.main_heading {
    font-size: 48px;
    color: #fff;
    line-height: 100%;
}

.middle-heading {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}

.small-heading-1 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}

/*.home-heading .spnValMsg {
    color: #006400;
    text-align: center;
    float: inherit;
    display: inline;
    visibility: visible;
}*/

/* =====================================
    Form - login/change/forgot/signup
======================================== */
.login-details .form-common {
    margin: 0px;
    padding-top: 30px;
}

.checkbox-common {
    float: left;
    border: 1px solid #d1d1d1;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    position: static;
}

.login-details .form-check {
    padding-bottom: 30px;
}

.check-lab1 {
    padding-top: 10px !important;
    padding-left: 10px !important;
}

.sign-up {
    padding-top: 20px;
}

.common-icon {
    position: relative;
    top: -32px;
    right: 10px;
}

.middle-icon {
    position: relative;
    top: -85px;
    right: 215px;
}

.input_val:active,
.input_val:focus {
    border-color: #6255a5;
    border-left: 3px solid #6255a5;
}

#profile_picture,
#displayPicture {
    background: url('../images/Profile/upload.png') no-repeat center 20px;
    height: 92px;
    text-align: center;
    position: inherit;
    padding: 90px 0 0 0;
    cursor: pointer;
    overflow: hidden;
}
.picture_bottom {
    position: absolute;
    bottom: 24px;
    right: 5px;
    text-align: center;
    color: gray !important;
}
.filename {
    bottom: 25px;
}
#uploadNote {
    background: url('../images/Add-notes/upload-note.svg') no-repeat center 20px;
    height: 92px;
    text-align: center;
    position: relative;
    padding: 90px 0 0 0;
    cursor: pointer;
    overflow: hidden;
}

.spnValMsg {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    color: #FF3636;
    text-align: left;
    float: left;
    padding-top: 5px;
    display: inline;
    min-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: hidden;
}

.borderHighlight {
    border-color: #FF3636;
    border-left: 3px solid #FF3636;
}

.successMsg {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    color: #006400;
    text-align: center;
    float: inherit;
    display: inline;
    min-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: visible;
}

/* =====================================
                Sign Up
======================================== */
.successMsg img {
    height: 18px;
}

/* =====================================
                Content Boxes
======================================== */
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 60px 0;
}

.content-box-xs {
    padding: 30px 0;
}

/* =====================================
            User-Profile
======================================== */
.common-top {
    background: url("../images/Profile/banner-with-overlay.jpg") no-repeat;
    background-size: cover;
}

#user_profile .container label {
    width: 100%;
}

.dropdown-control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background-image: url('../images/Profile/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    background-size: 15px;
    color: gray;
}

/* =====================================
            Email-Verification
======================================== */
#email_val_table {
    background-color: #000;
    width: 100%;
    height: 100%;
}

.email_val_content {
    background: #fff;
}

.email_val_content .content-box-xs {
    padding: 30px;
}

.email_val_content .common-heading-1 {
    font-size: 26px !important;
    padding-bottom: 40px;
    padding-top: 20px;
}

.val_content {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.email_val_content .general-btn {
    padding: 0px !important;
}

/* =====================================
                Thank you
======================================== */
.thanks_popup {
    margin: 0;
    padding: 30px 40px 10px 40px;
}

.thanks_popup .common-heading-1 {
    font-size: 26px;
    font-weight: 600;
    padding: 20px 0;
}
.close:focus {
    outline: none;
}
/* =====================================
                Review popup
======================================== */
.review_popup {
    margin: 0;
    padding: 10px 20px;
}

.review_popup .common-heading-1 {
    font-size: 24px;
    font-weight: 600;
}

.review_popup .form-group {
    padding-top: 40px;
}

.review_popup .rate:not(:checked) > label {
    font-size: 40px;
}

.container .review_popup .rate label {
    line-height: 45px;
}

/* =====================================
                Home
======================================== */
.home-page p {
    margin: 0;
}

/*  home-page-1  */
.home-page-1 {
    background: url("../images/home/banner-with-overlay.jpg") no-repeat;
    background-size: cover;
}

.home-page-1-inner p {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 20px 0;
}

/*  home-page-2  */
.home-page-2-inner {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
}

/*  home-page-3  */
.home-page-3 .content-box-sm {
    background-color: #f4f4f4;
}

.rounded-circle {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    width: 140px;
    height: 140px;
    line-height: 140px;
    display: inline-block;
    vertical-align: middle;
}

.home-page-3 .small-heading-1 {
    padding: 20px 0 10px 0;
}

.home-page-3 .common-heading-1,
.home-page-4 .common-heading-1 {
    padding-bottom: 30px;
}

/*  home-page-4  */
.customers {
    border-radius: 3px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    padding: 30px;
    border: black;
}

.customers img {
    width: 100px;
    height: 100px;
}

.par_p {
    padding-top: 25px;
}

.verti_middle {
    margin: auto;
}

.row_fix_bottom {
    padding-bottom: 30px;
}

/* =====================================
    Header - Navigation
======================================== */
.site-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.site-header .header-wrapper {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 120px;
    padding: 0;
}

.site-header .header-wrapper .logo-wrapper a {
    font-size: 50px;
}

.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation {
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}


.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li {
    padding: 0 15px;
}

.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a {
    line-height: 20px;
    font-weight: 600;
    color: #fff;
}

.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a:hover {
    color: #6255a5;
}

.site-header .menu-navigation .dropdown .dropdown-menu .dropdown-item {
    color: #000 !important;
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 24px !important;
}

.site-header .menu-navigation .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #6255a5;
    color: #fff !important;
}

.site-header .menu-navigation .dropdown .dropdown-menu .pur_col {
    color: #6255a5 !important;
}

.site-header .navbar {
    padding: 0;
}

/* White Navigation */
.sticky-header .site-header {
    box-shadow: 0 0 3px rgba(0, 0, 0, .11);
    background: #fff;
}

.sticky-header .site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a {
    color: #000;
    font-weight: 600;
}

.sticky-header .site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a:hover {
    color: #6255a5;
}

.site-header .navigation-wrapper .btn-purple {
    background-color: #fff;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 16px;
    text-transform: none;
    color: #6255a5;
}

.sticky-header .navigation-wrapper .btn-purple {
    background-color: #6255a5;
    color: #fff;
}
.dropdown_width{
  max-width: 200px;
}
/* =====================================
            Footer
======================================== */
.site-footer {
    padding: 40px 0;
}

.footer-icons {
    margin: 0;
}

.footer-content {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}

ul.footer-icons li {
    display: inline-block;
    padding: 5px;
}

ul.footer-icons li a {
    border: none;
    text-align: center;
    background-color: #6255a5;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 30px;
}

/* =====================================
            Search Notes
======================================== */
.search_icon {
    background: url('../images/Search/search.jpg') no-repeat left;
    background-color: #fff !important;
    padding-left: 45px;
    background-position: 10px 10px;
}

.search_form_filter {
    padding-top: 30px;
}

.search_filter_notes .common-heading-1,
.search_page_notes .common-heading-1 {
    font-size: 24px;
}

.search_filter_notes_inner {
    background-color: #f4f4f4;
    padding: 30px;
}

.search_page_notes .note_img {
    width: 100%;
}

.single_note .common-heading-1 {
    font-size: 20px;
}

.red_text {
    font-size: 14px !important;
    color: red !important;
}

.single_note {
    border: 1px solid #d1d1d1;
}

.search_page_notes_details {
    padding: 30px 30px 15px 30px;
}

.note_details_icon {
    height: 20px;
    text-align: center;
}

.merge {
    display: flex;
    padding-bottom: 15px;
}

.merge_icon {
    width: 32px;
    margin-right: 20px;
}

.fix_height {
    height: 100px;
}

/* =====================================
            Stars
======================================== */
.rate {
    float: left;
}

.rate label {
    margin-bottom: 0;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 25px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* =====================================
            Notes details
======================================== */
.small-heading {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    color: #6255a5;
}

#notes_details .note_img img {
    width: 100%;
    height: 100%;
}

#notes_details .small-heading {
    padding-bottom: 20px;
    margin: 0;
}

.notes_Details_ul li {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #333333;
}

.notes_Details_ul li .rate {
    padding-top: 7px;
}

.notes_Details_ul span {
    float: right;
    color: #6255a5;
    font-weight: 600;
}

/* =====================================
            Notes Preview
======================================== */
.set-border-note-pdf {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

.responsive-wrapper {
    position: relative;
    height: 0;
    overflow: hidden;
}

.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 105%;
}

/* =====================================
            Customer Reviews
======================================== */
.cust_review {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 30px;
}

.cust_img {
    width: 50px;
    height: 50px;
}

.cust_review hr {
    margin: 1rem;
}

/* =====================================
                Dashboard
======================================== */
#sec_dashboard .small-btn {
    font-weight: 700;
    display: inline;
}
.dasboard_img {
    padding-right: 82px;
}
.verti_line {
    border-right: 1px solid #d1d1d1;
}

#sec_dashboard .card-body {
    min-height: 140px;
    text-align: center;
}

#sec_dashboard .card {
    padding: 0;
}

#sec_dashboard .card-body p {
    padding: auto 0;
    text-align: center;
    vertical-align: middle;

}

#sec_dashboard .content-box-sm,
#my_downloads .content-box-sm,
#my_sold_notes .content-box-sm,
#my_rejected_notes .content-box-sm,
#buyer_request .content-box-sm {
    padding: 60px 0 0 0;
}

.small_pad_20 {
    padding: 20px 0;
}

.data_table {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

.data_table .table {
    margin: 0;
}

.data_table .table tbody tr:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}

#sec_dashboard .card {
    height: 160px;
}

.dashboard_border {
    border: 1px solid #d1d1d1;
    min-height: 140px;
}

.dash_inner_border {
    border-left: 1px solid #d1d1d1;
    min-height: 140px;
}

.verti_center_padding {
    padding-top: 30px;
}

.icon_space {
    padding-right: 15px;
}

.second_col_pur td:nth-child(2),
.fifth_col_pur td:nth-child(5) {
    color: #6255a5;
}

/* =====================================
                My Downloads
======================================== */
.pur_col {
    color: #6255a5;
}

/* =====================================
            Pagination
======================================== */
.pagination-filters {
    padding: 50px 0;
    margin: auto;
    width: 50%;
}

.pagination {
    display: inline-block;
    align-self: center;
}

.pagination a {
    color: #333;
    float: left;
    margin-left: 20px;
    padding: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #6255a5;
    color: #fff !important;
    border-radius: 50%;
}


/*
.pagination a:not([class]) {
    color: #333;
}
*/

.pagination a.active {
    color: #fff !important;
    background-color: #6255a5;
    border-radius: 50%;
}
/* =====================================
            Add-Notes
======================================== */
#notePre {
    background: url('../images/Profile/upload.png') no-repeat center 45px;
    height: 130px;
    text-align: center;
    position: relative;
    padding: 130px 0 0 0;
    cursor: pointer;
    overflow: hidden;
}
.picture_bottom_note {
    position: absolute;
    bottom: 43px;
    right: 3px;
    text-align: center;
    color: gray !important;
}
#add_notes label {
    width: 100%;
}

input[type=radio] {
    width: 42px;
    height: 42px;
    border: 1px solid #d1d1d1;
}

.radio_for_page input[type=radio]:checked + label:before {
    content: '';
    border: 1px solid #6255a5;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    display: block;
    position: absolute;
    left: 1px;
    top: 9px;
}

.radio_for_page input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 14px;
    left: 5px;
    content: " ";
    display: block;
    background: #6255a5;
}

/* =====================================
                FAQ
======================================== */
#faq_page .home-heading .common-heading-1 {
    padding-top: 60px;
}

.accordion .card-header:after {
    content: url(../images/FAQ/minus.png);
    float: right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: url(../images/FAQ/add.png);
    float: right;
}

.accordion .card-header:not(.collapsed) {
    background: #fff;
    border-bottom: none;
    font-weight: 600;
}

.accordion .card {
    border: none;
    padding: 30px 0;
}

.accordion .card-header {
    border: none;
}

/* =====================================
            Contact Us
======================================== */
#contact_us .container label {
    width: 100%;
}